<div class="auth-container">
  <div class="brand-container">
    <div class="logo">
      <img src="/assets/logo.svg" alt="">
    </div>
    <div class="message">
      <div class="title">
        Welcome to Note
      </div>
      <div class="text">
        Please log in to continue
      </div>
    </div>
  </div>
  

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <div *ngIf="error" class="error-message">{{ error }}</div>

    <div class="form-group">
      <label for="username">Email Address</label>
      <input id="username" type="text" formControlName="username" placeholder="email@example.com" required>
      <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="validation-error">
        Username is required.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password <span class="link" routerLink="/auth/forgot-password">Forgot</span></label>
      <div class="password-wrapper">
          <input id="password" [type]="showPassword ? 'text':'password'" formControlName="password" placeholder="Password" required>

          <button type="button" class="eye-btn" (click)="togglePasswordVisibility()">
            <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
          
            <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="#666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M1 1l22 22"></path>
              <path d="M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19"></path>
            </svg>
          </button>
      </div>
      
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="validation-error">
        Password is required.
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>

  <p>No account yet? <a class="signup-link" routerLink="/auth/register">Sign Up</a></p>
</div>