:host {
    display: block;
    width: 100%;
    max-width: 320px;
}

.menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.2s ease;
    color: #333;
    font-size: 15px;
    font-family: inherit;
}

.menu-item:hover {
    background-color: #f7f7f7;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    color: #555;
}

.label {
    flex: 1;
    font-weight: 500;
    font-family: 'Inter';
}

.chevron {
    display: flex;
    align-items: center;
    color: #999;
}

.separator {
    height: 1px;
    background-color: #eee;
    margin: 6px 0;
    width: 100%;
}