.auth-container {
    .logo {
        text-align: center;
        margin-top: 10px;
    }
    .title {
        font-family: Inter;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: -0.5px;
        text-align: center;
        margin-top: 22px;
    }
    .text {
        margin-top: 5px;
        font-family: Inter;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: -0.2px;
        text-align: center;
        margin-bottom:30px;
        color: var(--text-primary);
    }
    p {
        font-family: Inter;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: -0.2px;
    }
    .login-link {
        color:var(--text-primary);
        text-decoration: none;
        font-weight: 500;
    }
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.eye-btn {
  position: absolute;
  right: 10px;    
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  width: auto;   
}

.eye-btn:hover svg {
  stroke: #333;    
}

.eye-btn:focus {
  outline: none;   
}