<div class="auth-container">
 <div class="brand-container">
    <div class="logo">
      <img src="/assets/logo.svg" alt="">
    </div>
    <div class="message">
      <div class="title">
        Create Your Account
      </div>
      <div class="text">
        Sign up to start organizing your notes and boost your productivity.
      </div>
    </div>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div *ngIf="error" class="error-message">{{ error }}</div>
    <div *ngIf="success" class="success-message">{{ success }}</div>

    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" type="text" formControlName="username" placeholder="Username" required>
      <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="validation-error">
        Username is required.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" placeholder="Password" required>
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="validation-error">
        Password is required.
      </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>

  <p>Already have an account?  <a class="login-link" routerLink="/auth/login">Login</a></p>
</div>
