<form [formGroup]="noteForm" (ngSubmit)="saveNote()" class="note-editor-container">

    <div class="input-group title-input">
      <input type="text" class="form-control" placeholder="Enter a title..." formControlName="title">
    </div>

    <div class="metadata-row">
        <div class="metadata-item tags-section">
            <span class="icon-label">
                <img class="icon" src="/assets/Tag.svg" alt="">
                Tags
            </span>
            <input type="text" class="form-control tag-input" placeholder="Add tags separated by commas (e.g. Work, Planning)" formControlName="tags">
        </div>

        <div class="metadata-item last-edited">
            <span class="icon-label">
                <img class="icon" src="/assets/Circle Clock.svg" alt="">
                Last edited
            </span>
            
            @if(selectedNote?.updated_at){
                <span class="muted-text">{{selectedNote?.updated_at | date}}</span>
            } @else {
                <span class="muted-text">Not yet saved</span>
            }
        </div>
    </div>
    <div class="border"></div>

    <div class="note-body">
        <textarea placeholder="Start typing your note here..." class="form-control note-textarea" rows="15" formControlName="content"></textarea>
    </div>

    <div class="action-buttons">
        <button type="submit" class="btn btn-primary" [disabled]="noteForm.invalid">Save Note</button>
        <button type="button" class="btn btn-secondary" (click)="cancelNote()">Cancel</button>
    </div>

</form>