.notes-layout {
  display: flex;
  height: 92vh;
}

.notes-sidebar {
  width: 290px;
  overflow-y: auto;
  border-right: 1px solid #E0E4EA;
  .inner-container {
    margin: 20px 16px;
    
  }
}

.note-detail {
  flex-grow: 1;
  overflow-y: auto;
  border-right: 1px solid #E0E4EA;
  padding: 26px 20px;
}

.note-actions {
  width: 258px;
  padding: 20px 35px 20px 20px;
}

span.tag-next {
    color: #525866;
}
img.restore, img.archive {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .notes-layout {
    display: block;
  }

  .notes-sidebar {
    width: 100%;
    height: 100%;
  }

  .note-detail {
    display: none; 
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  .title {
    font-family: Inter;
    font-size: 24px;
    font-weight: bold;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  width: 365px;
}

.logo {
  height: 28px;
  margin-right: 10px;
}

.navbar-search {
  flex-grow: 1;
  max-width: 500px;
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.search-input {
  width: 100%;
  padding: 10px 33px 10px 46px;
  border: 1px solid #CACFD8;
  border-radius: 5px;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: -0.2px;
  transition: all 0.2s ease;
}

.search-input:focus {
  border-color: #CACFD8;
  outline: none;
  background-color: #fff;
}

.search-icon {
  position: absolute;
  left: 15px;
  color: #888;
  font-size: 18px;
  top: 57%;
  transform: translateY(-50%);
}

.navbar-actions {
  margin-left: 20px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.icon-button:hover {
  background-color: #f0f0f0;
}

.settings-icon {
  font-size: 24px;
  color: #555;
  display: block;
}
@media (max-width: 600px) {
  .navbar-search {
    display: none; 
  }
}

.secondary-actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  max-width: 400px;
}

.btn-outline {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 9px 20px;
  background-color: transparent;
  border: 1px solid #d1d5db;
  border-radius: 12px;
  color: #0E121B;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: left;
}

.btn-outline:hover {
  background-color: #f9fafb;
  border-color: #9ca3af;
}

.btn-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  color: #111827;
  flex-shrink: 0;
}